header{
    background: rgb(160, 141, 247); 
    text-align: center;
    font-size: large;
}
h1{
    padding: 10px;
}
#chalas{
    width: 100%;
    height: 80px;
}
.izquierda{
    width: 50%;
    height: 75vh;
    text-align: center;       
}
.button:hover{
    color: brown;
    background: white;  
}
.derecha{
    background: rgb(142, 174, 238);
    width: 50%;
    text-align: center;
}
#pantalla-dividida{
    display: flex;
}
.luzz{
    padding: 20px;
    font-size: 1.2rem;
}
.temp{
    padding: 20px;
    font-size: 1.2rem;
}
.hum{
    padding: 20px;
    font-size: 1.2rem;
}
.humsuelo{
    padding: 20px;
    font-size: 1.2rem;
}
.panel-de-control li{
    display: inline-block;
    font-size: 30pz;
    font-weight: bold;
    padding: 20px;
    margin: 20px 0;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px 5px 5px 5px;

}

.conf:hover{
    border-color: rgb(116, 238, 120) ;
    font-size: 20px;
}
.red:hover{
    border-color:  rgb(116, 238, 120) ;
    font-size: 20px;
}
.graf:hover{
    border-color:  rgb(116, 238, 120) ;
    font-size: 20px;
}